$verde: #6e8f6e;

.detalleGaleria {
    display: flex;
    justify-content: center;
    width: 40%;
    max-width: 40%;

    .galeriaCarousel{
        width: 80%;
    }

    img {
        width: 100%;
        border: 15px solid $verde;
        border-radius: 15%;
    }
}

.detalleDatos {
    max-width: 60%;
    width: 60%;
    display: flex;
    justify-content: center;

    .producto {
        width: 90%;
        text-align: center;
        margin: 1rem;
        background-color: #e9dfdf;
        box-shadow: 0px 0px 2px 2px #c9c0c6;
        border-radius: 5px;
        padding: 1em;

        &__nombre {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: flex-end;

            h1 {
                font-weight: 500;
                font-size: 2rem;
                margin: 5px 0;
                color: #1D2C36;
            }
        }

        &__borde {
            border-top: 5px solid $verde;
            margin-bottom: 10px;
        }

        &__descripcion{
            .parrafos{
                p{
                    font-size: 18px;
                }
            }
            .lista{
                ul{
                    padding-left: 0; 
                    list-style-position: inside;
                }
               
            }
        }

        .producto__precio {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;

            p {
                font-weight: 500;
                font-size: 1.5rem;
                color: $verde;
            }
        }

        button {
            border-color: $verde;
            background-color: $verde;
        }
    }
}
