@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

.bgWelcome{
    width: 100%;
    height: calc(100vh - 100px);
    position: absolute;

    background-image: url("/assets/icons/bgHome.jpg");
    background-position: center left;
    background-size: cover;
    background-attachment: fixed;

    animation-name: bgBlur;
	animation-delay: 1s;
    animation-duration: 4s;
	animation-iteration-count: inherit;
	animation-fill-mode: forwards;

    z-index: -1;
}

#containerInicio{
    display: flex;
    flex-wrap: column nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100vh - 100px);
    .welcome{
        margin: 1em;
        padding: 2em 1em;
        text-align: center;
        background-color: rgba(0,0,0, 0.4);
        border: 4px solid rgba(255, 189, 189, 0.801);
        box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.589);
        color: #fff;
        h1{
            font-family: 'Londrina Solid', cursive;
            font-size: 24px;
            
        }
        h2{
            font-size: 18px;
        }
        ul{
            margin: 1rem;
            list-style-position: inside;
            list-style-type: none;
            li{
                font-size: 20px;
                font-family: 'Indie Flower', cursive;
                font-weight: bold;
            }
        }
    }
}

@keyframes bgBlur{
    0%{
        filter: blur(0px);
    }
    100%{
        filter: blur(10px);
    }
}

@media all and (min-width: 576px){
    #containerInicio{
        .welcome{
            margin: 1em;
            padding: 2em 1em;
            h1{
                font-family: 'Londrina Solid', cursive;
                font-size: 40px;
            }
            h2{
                font-size: 28px;
            }
            ul{
                li{
                    font-size: 24px;
                }
            }
        }
    }
}

@media all and (min-width: 992px){
    .nosotros{
        padding: 3rem 20%;
    }
    #containerInicio{
        .welcome{
            padding-right: 10px 200px;
            h1{
                font-family: 'Londrina Solid', cursive;
                font-size: 50px;
                padding: 0 ;           
            }
            h2{
                font-size: 36px;
            }
            ul{
                li{
                    font-size: 36px;
                }
            }
        }
    }
}